---
- name: Save LoadBalancer's DNS name locally
  hosts: management[0]
  user: ec2-user
  gather_facts: false
  become: yes
  vars:
    ENVIRONMENT_NAME: "{{ lookup('env', 'ENVIRONMENT_NAME') }}"  # Make sure this variable is correctly set.
  tasks:
    - name: Debug Message
      debug:
        msg: "Getting the LoadBalancer's DNS name..."

    - name: Get LoadBalancer DNS Name
      command: "./bin/kubectl get svc {{ ENVIRONMENT_NAME }}-service"
      register: elb_dns

    - name: Debug Message
      debug:
        msg: "LoadBalancer's DNS name: {{ elb_dns.stdout }}"

    - name: Copy to Local File
      copy:
        content: "{{ elb_dns.stdout }}"
        dest: "/root/elb_dns.txt"
      delegate_to: localhost

    - name: Debug Message
      debug:
        msg: "LoadBalancer's DNS name saved to ~/elb_dns.txt"
